@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 255 0 99;
		--primary-dark: 210 0 70;
		--secondary: 255 102 108;
		--gray-200: 228 228 231;
		--gray-300: 209 209 214;
		--gray-400: 173 173 181;
		--gray-600: 82 82 92;
		--green: #088539;
		--green-dark: #2e6b2d;
		--tw-border-opacity: 1;
	}
}
