.App {
	padding: var(--spacing-m) var(--spacing-xl);
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
}

.App p {
	margin-top: var(--spacing-s);
	margin-bottom: var(--spacing-s);
}

.App .primary-action {
	color: var(--primary-color);
	cursor: pointer;
}

.libraries {
	display: flex;
	flex-direction: column;
}

.libraries > .selected {
	background: var(--light-color);
}

.libraries div {
	padding: 7px 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	overflow-y: scroll;
	justify-content: space-between;
	align-items: flex-start;
	height: 300px;
	overflow-y: scroll;
}

.photos > .photo {
	margin: 3px;
	border: 5px solid transparent;
}

.photos > .photo.selected {
	border: 5px solid var(--primary-color);
}

.title {
	margin: var(--spacing-m);
	display: flex;
	justify-content: space-between;
}
