.App {
	padding: var(--spacing-m) var(--spacing-xl);
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
}

.App p {
	margin-top: var(--spacing-s);
	margin-bottom: var(--spacing-s);
}

.App .primary-action {
	color: var(--primary-color);
	cursor: pointer;
}

.libraries {
	display: flex;
	flex-direction: column;
}

.libraries .selected {
	background: var(--light-color);
}

.libraries div {
	padding: 7px 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	overflow-y: scroll;
	justify-content: space-between;
	align-items: flex-start;
	height: 300px;
	overflow-y: scroll;
}

.photos .photo {
	display: grid;
	grid-auto-flow: row;
	margin: 3px;
	border: 5px solid transparent;
}

.photo-group {
	display: flex;
	flex-direction: column;
}

.photo-group div {
	text-align: center;
}

.photos .photo.selected {
	border: 5px solid var(--primary-color);
}

.title {
	display: flex;
	justify-content: space-between;
}

.photo-modal {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 0;
	margin: 10px;
	width: 97%;
	height: 340px;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid var(--accent-color);
}

.photo-modal .header {
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.photo-modal .header > div {
	display: flex;
	flex-direction: column;
}

.selected-photos {
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
	max-width: 100%;
	width: fit-content;
}

.preview-selected-container {
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
	width: fit-content;
	max-width: 100%;

	img {
		display: flex;
		flex-direction: column;
		width: 100px;
		height: 100px;
	}
}

.preview-container {
	margin-bottom: 32px;
}
